#navbar {
    background-color: rgb(75, 56, 143);
}

.nav {
    color: white;
}

.nav-link {
    color: gray;
}

.nav-link:hover {
    color: white;
}

.navBreak {
    padding-top: 6px;
}


#sidebar {
    background-color: rgb(157, 216, 216);
    padding-bottom: 10px;
    /* position: absolute; */
    /* top: 56px; */
    /* bottom: 0; */
    padding-top: 100px;
}

#mainBody {
    position: relative;
    background-image: linear-gradient(to top right,rgb(48, 47, 47), rgb(87, 87, 87), rgb(136, 167, 168));
}

#MMGBlogo {
    padding: 20px;
}

.plug {
    color: white;
    font-size: 25px;
    text-align: center;
}


.btn {
    padding: 0;
    opacity: .4;
}

.btn:hover {
    opacity: 1;
    transition: opacity .9 ease-out;
    -moz-transition: opacity .9s ease-out;
    -webkit-transition: opacity .9s ease-out;
    -o-transition: opacity .9s ease-out;
}

.movieCardResults {
    
}

.card-title {
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    
    
}

#cardMood {
    border-radius: 35px;
    background: rgb(165, 165, 165);
}

.card-img {
    border-radius: 35px;
}

.page-footer{
    width: 100%;
    height: 5%;
    background: rgb(75, 56, 143);
    /* position: fixed; */
    /* bottom: 0; */
    text-align: center;
    color: white;
    /* padding-top: 12px;
    border-top: 8px solid #4aaaa5; */
    clear: both;
    /* margin-top: 185px;     */
}